.Container-links {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 30px;
}

.stylelinks {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  align-items: center;
}
.logo1 {
  width: 19px;
  height: 20px;
}
.liste {
  list-style: none;
  color: #3d83df;
  cursor: pointer;
  margin-right: 40px;
}
.h1 {
  color: #00b39b;
}
