.title-logo-container {
  height: 40px;
  width: 39px;
}
.logo-container {
  width: 100%;
  height: 100%;
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h1style{
 
    color: #00b39b;
}